/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021. márc. 13., 10:05:05
    Author     : BartuczT
*/

@charset "utf-8";

.bevitelimezo{
    
    background: blue;
    border: 2px solid yellow;
    font-size:larger;
    color: white;
    
    
}